<html>
<head>
<title>People</title>
</head>
<body>
	<form action="compra" method="POST">
		<table>
			<tbody>
				<tr>
					<td>ID</td>
					<td><input type="hidden" name="id" value="{{compra.id}}" />{{compra.id}}</td>
				    <td><input type="hidden" name="idcompra" value="5" />{{compra.idcompra}}</td>
				
				</tr>
				<tr>
					<td>First Name</td>
					<td><input type="text" name="numero" value="{{compra.numero}}" /></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" name="serie" value="{{compra.serie}}" /></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type="submit" value="Save" />
		<input type="button" value="Cancel" onclick="history.back();" />
	</form>
</body>
</html>