<html>
<head>
<title>People</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
	{% for person in people %}
			<tr>
				<td>{{ person.id }}</td>
				<td>{{ person.serie }}</td>
				<td>{{ person.numero }}</td>
							<td><a href="?id={{ person.id }}">See</a> | <a href="add-compra?id={{person.id }}">Modify</a> </td>
			
			</tr>
	{% endfor %}
        </tbody>
      </table>
      <br />
      <a href="add-compra">Add New Compra</a>
</body>
</html>