{% extends 'layout.twig.html' %}
{% block title %}Banco{% endblock %}

{% block content %}
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ compra.id }}</td>
			</tr>
			<tr>
				<th>numero</th>
				<td>{{ compra.numero }}</td>
			</tr>
			<tr>
				<th>serie</th>
				<td>{{ compra.serie }}</td>
			</tr>
        </tbody>
      </table>
      <br />
      <a href="add-compra?id={{compra.id}}">Modify</a> |<a href="add-compra">Add New Compra</a> | <a href="compra">List All</a>
{% endblock %}
