{% extends 'layout.twig.html' %}
{% block title %}Sistema de almacen{% endblock %}

{% block content %}



<h2>Bienvenido</h2>
<p class="text-danger">Aca podras crear modificar y eliminar variables de entorno del sistema</p>















	<ul>
		<li>
			<a href="person">People</a>
		</li>
		<li>
			<a href="account">Accounts</a>
		</li>
		<li>
			<a href="transfer">Transfer</a>
		</li>
	</ul>
{% endblock %}
