<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<!-- Bootstrap -->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
        <!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!--link rel="stylesheet" href="http://25.18.185.149/sistemagm/css/adm/bootstrap.min.css"-->

	<link href="resources/css/adm/admin.css" rel="stylesheet">
	<link href="resources/css/adm/starter-template.css" rel="stylesheet">
	<link href="resources/css/adm/estiloMenu.css" rel="stylesheet">

	<script src="http://code.jquery.com/jquery-latest.js"></script>
        
        
        <!--script src="//oss.maxcdn.com/jquery/1.11.1/jquery.min.js"></script-->
	<script src="resources/js/adm/bootstrap.min.js"></script>
        
        <script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
     
        
        <!-- ESTILO Y SCRIPT PARA BUSQUEDA EN TABLAS-->
        <link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        
        <script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->



		
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- TinyMCE-->
	<script type="text/javascript" src="resources/js/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern image"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    relative_urls : false,
remove_script_host : false,
convert_urls : true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});

	</script>
	<!-- /TinyMCE -->
</head>

<body>

    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./" style="margin-top:-5px;"><img src="resources/css/images/logo.png"> <?php echo $meta_title; ?></a>
            </div>
            <nav style="height: 1px;" class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li> <a href="admin/almacen_adm">Almacen</a> </li>
                    <li> <a href="admin/caja_adm">Caja</a> </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tipos de Pago  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="admin/tipo_pago_interno">Interno</a></li>
                            <li><a href="admin/tipo_pago_credito">Credito</a></li>
                        </ul>
                    </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="admin/categoria_adm">Categorias de gastos</a></li>
                            <li><a href="admin/categoria_producto_adm">Categorias de productos</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container">
        <div class="starter-template">

            <!-- Main column -->
            <div class="row">
                <div class="col-xs-9  col-lg-9">



  {% block content %}
  
  {% endblock %}
  

                </div>
                <!-- Sidebar -->
                <div id="sidebar" class="col-xs-3  col-lg-3 blog-sidebar">

                    <div class ="sidebar-module">
                        <!--i class="glyphicon glyphicon-user"></i--> 
                        <!--i?php echo mailto('joost@codeigniter.tv', 'joost@codeigniter.tv'); ?><br-->
                        <h4 class="glyphicon glyphicon-off"></h4> 
                       		<a href="logout">Logout</a>
                        <p><?php echo $ayuda;?></p>
                    </div>	
                </div>
            </div>
        </div><!--end template-->
    </div><!--end container-->





  
  {% include 'footer.twig.html' %}
  </body>
</html>



