{% extends 'layout.twig.html' %}
{% block title %}Banco{% endblock %}

{% block content %}


    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./" style="margin-top:-5px;"><img src="<?php echo site_url('css/images/logo.png') ?>"> <?php echo $meta_title; ?></a>
            </div>
            <nav style="height: 1px;" class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <!-- li> <a href="<?php echo site_url("admin/almacen_adm"); ?>">Almacen</a> </li>
                    <li> <a href="<?php echo site_url("admin/caja_adm"); ?>">Caja</a> </li-->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tipos de Pago  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- li><a href="<?php echo site_url("admin/tipo_pago_interno"); ?>">Interno</a></li>
                            <li><a href="<?php echo site_url("admin/tipo_pago_credito"); ?>">Credito</a></li-->
                        </ul>
                    </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- li><a href="<?php echo site_url("admin/categoria_adm"); ?>">Categorias de gastos</a></li>
                            <li><a href="<?php echo site_url("admin/categoria_producto_adm"); ?>">Categorias de productos</a></li-->
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container">
        <div class="starter-template">

            <!-- Main column -->
            <div class="row">
                <div class="col-xs-9  col-lg-9">


                    <!--  ?php $this->load->view($subview); ?-->

                </div>
                <!-- Sidebar -->
                <div id="sidebar" class="col-xs-3  col-lg-3 blog-sidebar">

                    <div class ="sidebar-module">
                        <!--i class="glyphicon glyphicon-user"></i--> 
                        <!--i?php echo mailto('joost@codeigniter.tv', 'joost@codeigniter.tv'); ?><br-->
                        <h4 class="glyphicon glyphicon-off"></h4> 
                        <!-- ?php echo anchor('admin/user/logout', 'Cerrar Session'); ?>
                        <p><?php echo $ayuda;?></p-->
                    </div>	
                </div>
            </div>
        </div><!--end template-->
    </div><!--end container-->



	<!-- >ul>
		<li>
			<a href="person">People</a>
		</li>
		<li>
			<a href="account">Accounts</a>
		</li>
		<li>
			<a href="transfer">Transfer</a>
		</li>
	</ul-->
{% endblock %}
