<html>
<head>
	<meta charset="UTF-8">

	 <title>{% block title %}{% endblock %}</title>
	<!-- Bootstrap -->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
        <!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!--link rel="stylesheet" href="<?php echo site_url('css/adm/bootstrap.min.css'); ?>"-->

	<link href="<?php echo site_url('css/adm/admin.css'); ?>" rel="stylesheet">
	<link href="<?php echo site_url('css/adm/starter-template.css'); ?>" rel="stylesheet">
	<link href="<?php echo site_url('css/adm/estiloMenu.css'); ?>" rel="stylesheet">

	<script src="http://code.jquery.com/jquery-latest.js"></script>
        
        
        <!--script src="//oss.maxcdn.com/jquery/1.11.1/jquery.min.js"></script-->
	<script src="<?php echo site_url('js/adm/bootstrap.min.js'); ?>"></script>
        
        <script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
     
        
        <!-- ESTILO Y SCRIPT PARA BUSQUEDA EN TABLAS-->
        <link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        
        <script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->



	<!--?php if(isset($sortable) && $sortable === TRUE): ?>
	<script src="<?php echo site_url('js/adm/jquery-ui-1.9.1.custom.min.js'); ?>"></script>
	<script src="<?php echo site_url('js/adm/jquery.mjs.nestedSortable.js'); ?>"></script>
	<?php endif; ?-->
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- TinyMCE-->
	<script type="text/javascript" src="<?php echo site_url('js/tinymce/tinymce.min.js'); ?>"></script>
	<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern image"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    relative_urls : false,
remove_script_host : false,
convert_urls : true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});

	</script>
	<!-- /TinyMCE -->
</head>

  
  
  
  <body>
  
  
  
  
  
  
  
  
  {% block content %}
  
  
  {% endblock %}
  
  
  
  {% include 'footer.twig.html' %}

