/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/07/2015, 10:03:04 AM
    Author     : zafiron
*/
.navbar-inverse { background-color: #EA242D}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #FFFFFF}
.dropdown-menu { background-color: #EA242D}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #000000}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #000000}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #ffffff}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: blue}
.dropdown-menu>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: black}

.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFEF0D}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #EA242D}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #FFEF0D}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #EA242D}





.navbar-brand>img{display: inline !important;} 
.navbar-nav > .open > a{background-image: linear-gradient(to bottom, white 0px, white 100%) !important; box-shadow: 0 3px 9px rgba(255, 255, 255, 0.25) inset !important;}
